{% extends "base.html" %}

{% block title %}My tickets{% endblock %}

{% block content %}
{% for purchase in purchases %}
    <div div class="card" style="width: 18rem;">
        <p> Session: {{ purchase.movie_session.title }} </p>
        <p> Description: {{ purchase.movie_session.description }} </p>
        <p> Start: {{ purchase.movie_session.start }} </p>
        <p> End: {{ purchase.movie_session.end }} </p>
        <p> Tickets: {{ purchase.tickets_quantity}} </p>
    </div>
{% endfor %}
{% endblock %}